.enrollment-an-main{
	margin: 20px 2% 0 2%;
	width: 96%;
	min-height: 618px;
}
.enrollment-head span{
	padding-right: 40px;
	font-size: 16px;
}
.enrollment-head span img{
	padding-right: 15px;
}
.enrollment-an-main .up div{
	width: 49%;
	float: left;
	margin-top: 10px;
	height: 374px;
}
.enrollment-an-main .down div{
	width: 49%;
	float: left;
	margin-top: 20px;
	height: 374px;
}