.coach-log-main-content{
    width: 96%;
    height: 100%;
    min-width: 1040px;
}
.coach-log-main-content .log-header{
    height: 66px;
    width: 100%;
    background: rgb(0,204,255);
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    font-size: 17px;
}
#trainTime{
    padding-right: 0px;
    border: 1px solid #ccc;
}
.timeDiv{
    width: 6%;
    margin-right: 10px;
}
.timeSelect{
    width: 100%;
}
.jobDiv{
    width: 12%;
}
.jobDiv .select2,.chargeDiv .select2{
    width: 70%!important;
}
.select2-container--default .select2-selection--single{
    border-radius: 0px!important;
}
.select2-container .select2-selection--single{
    height: 34px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top:5px;
	color: #ccc;
}
.log-searchBtn{
    width: 70px;
    height: 36px;
    background: rgb(255,153,51);
    color: white;
    float: right;
    margin-right: 2%;
}
.coach-log-main-content .log-header input{
    height: 30px;
    width:65%;
}
.log-table{
    border-collapse:collapse;
    width: 100%;
    margin-left: 30px;
}
.log-table, .log-table th, .log-table td{
    border:1px solid #ccc;
}

.log-table th,.log-table td{
    vertical-align: middle;
    height: 45px;
}
.log-table td{
    text-align: center;
}
.log-header .input-group{
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.timeDiv{
    margin-left: 4px;
    margin-right: 12px;
}
.chargeDiv{
    width: 12% !important;
}