body,html{
	width: 100%;
	height: 100%;
	background-color: #00ccff;
}
.login-main{
	margin: 0 auto;
	width: 806px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.logo-image{
	display: block;
	width: 100%;
}
.login-main .login-form{
	width: 500px;
	margin: 0 auto;
	padding-top: 45px;
}
.find-form div{
	margin-top: 24px;
}
.find-form label{
	display: inline-block;
	width: 140px;
	height: 44px;
	line-height: 44px;
	text-align: right;
	color: white;
	font-size: 20px;
}
.find-one span{
	display: inline-block;
	width: 300px;
	height: 44px;
	background-image: url(../images/bg-border.png);
	background-repeat: no-repeat;
}
.find-one input{
	width: 260px;
	height: 38px;
	margin-left: 20px;
	border: none;
}
.find-two span{
	display: inline-block;
	width: 150px;
	height: 44px;
	background-image: url(../images/find-bg.png);
	background-repeat: no-repeat;
}
.find-two input{
	width: 110px;
	height: 38px;
	margin-left: 20px;
	border: none;
}
.find-two button{
	display: inline-block;
	width: 140px;
	height: 44px;
	border-radius: 20px;
	text-align: center;
	line-height: 44px;
	background: #7ee800;
	color: white;
	font-size: 18px;
}
.find-three{
	width: 500px;
	height: 44px;
}
.find-three label{
	float: left;
}
.find-three .find-three-bg{
	display: inline-block;
	width: 170px;
	height: 44px;
	float: left;
	background-image: url(../images/login-auth.png);
	background-repeat: no-repeat;
}
.find-three input{
	width: 130px;
	height: 38px;
	margin-left: 20px;
	border: none;
}
.find-three .find-three-yan{
	display: inline-block;
	width: 120px;
	float: left;
	margin-left: 10px;
}
.find-four{
	padding-left: 160px;
}
.login-footer{
	width: 100%;
	display: block;
}

/*提交密码*/
.find-sure{
	margin-left: 160px;
}
