.student-mark-coach-main{
	/*min-height:auto;*/
    min-width: 100%;/*1600px*/
}

body {

    min-width: 100%; /*1900px*/
}
.student-mark-coach-main .head{
	width: 80%;
	margin-bottom: 15px;
    margin-left: 10%;
}
.student-mark-coach-main .head img{
	display: block;
	width: 80%;
    margin-left: 10%;
}
.student-mark-coach-main .head-sub{
	width: 100%%;
	margin: 0 auto;
	background: #00ccff;
	height: 40px;
	line-height: 40px;
}
.student-mark-coach-main .head-sub .kuang{
	width: 14%;
	height: 25px;
	line-height: 25px;
	border:none;
    margin-left: 5px;
}
.student-mark-coach-main .head-sub label{
	color: white;
	padding-left: 30px;
	font-size: 14px;
}
.student-mark-coach-main .head-sub .search{
	float: right;
    height: 30px;
	margin: 5px 20px;
}

.student-mark-coach-main .foot-btn {
    width: 100%;
    text-align: center;
    clear: both;
}
.student-mark-coach-main .foot-btn img{
    height: 30px;
}
.student-mark-coach-main .foot-btn input {
    margin-right: 40px;
}

.overfllowDiv {
    width: 100%;
    overflow-y: auto;
    height: 410px;
}

.overfllowDiv table {
    width: 100%;/*1450px;*/
}
.overfllowDiv1 {
    width: 100%;/*1450px*/
    overflow: hidden;
}


.coach-schedule-content table tr th ul li {
    float: left;
    border-right: 1px solid white;
    font-size: 10px;
    height: 21px;
    min-width: 40px;
    border-bottom: 10px solid red;
    text-align: left;
}

.coach-schedule-content table tr th ul li span {
    font-size: 10px;
}

.ul_green {
    border-bottom: 10px solid green !important;
}

.coach-schedule-content-header {
    margin-top: 15px;
    min-width: 80%;
	background: #00ccff;
	color: white;
    /*height: 100%;*/
    margin-left: 2%;
    width: 96%;
    float: left;
}

.coach-schedule-content-header .table-tip {
    float: right;
    margin-top: 4px;

}

.coach-schedule-content {
    margin-top: 10px;
    float: left;
    width: 100%;
}

.coach-schedule-content-table {
    border-collapse: collapse;
    width: 96%;
}

.coach-schedule-content-table, .coach-schedule-content-table th, .coach-schedule-content-table td {
    border: 1px solid #ccc;
}

.coach-schedule-content-table tr {
    height: 33px;
}

.coach-schedule-content-table th, .coach-schedule-content-table td {
    vertical-align: middle;
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.deleteHtml ul {
    height: 30px;
    background: #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

.coach-schedule-content table tr th {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #ccc;
}

.coach-schedule-content table tr td {
    font-size: 12px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.deleteHtml ul li {
    float: left;
    line-height: 40px;
    display: inline;
    cursor: pointer;
}

.rgb-FF9933 {
    background: #ff9933;
}

.rgb-CC3300 {
    background: #cc3300;
}

.rgb-00FF33 {
    background: #00ff33;
}

.nodata {
    display: none;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #999;
    font-size: 14px;
}

.coach-schedule-content table tr th ul {
    width: 100%;
    border-bottom: 10px solid red;
    height: 21px;
}

.green {
    background: green !important;
}

.modalIncome div {
    width: 500px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.modalIncome div label {
    display: block;
    width: 100px;
    float: left;
    text-align: right;
    margin-right: 10px;
    margin-left: 194px;
}

.modalIncome div:nth-child(1) {
    margin-top: 40px;
}

.modalIncome div input {
    width: 200px;
    height: 26px;
    float: left;
}

.modalIncome div textarea {
    width: 200px;
    height: 70px;
    float: left;
}

.modalIncome .timeLine span:nth-child(1) {
    margin-left: 0 !important;
}

.modalIncome .timeLine span {
    display: block;
    width: 300px;
    margin-left: 304px;
}

